.wish-list{
    position: relative;
    overflow: hidden;
    height: 375px;
    
    }
    .wish-list::before{
        content: '';
        width: 810px;
        height: 300px;
        /* border: 1px solid white; */
        background-color: var(--dark-background);
        top: 30px;
        left: 20px;
        position: absolute;
        border-radius: 5px;
        z-index: 0;
    }
    
        
        .list-group{
            max-height: 300px;
            overflow: auto;
            
        }

