
@import '../app/app.css';
header{
    background-image: url('./app-header-img/flowers-orig2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 285px;
    margin-bottom: 50px;
    padding: 20px 20px;
    box-shadow: var(--shadow);
}

.app-header {
    /* max-height: 400px; */
    border-radius: 10px;
    /* width: 500px; */
    /* margin: 0 auto; */
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--dark-background);
     padding: 0 15px;
     position: relative;
     /* margin-bottom: 30px; */
     
     overflow: hidden;
     
     
     
}
h1 {
    text-align: center;
    color: var(--title-color);
    font-size: 100px;
    font-family: 'Dancing Script';
    position: relative;
    letter-spacing: 15px;
}


h2{
    position: relative;
    font-size: 40px;
    z-index: 2;
    color: var(--header-txt-col);
    padding-bottom: 5px !important;
    margin-bottom: 0;
}
